body {
  background-color:honeydew;
  text-align: center;
  padding-top: 10px;
  max-width: 780px;
  margin: 0 auto;
  padding: 15px;
  color:saddlebrown;
  
  }
h1{
  color :darkslategray;
  
}
h2{
  color:navy;
}
h3{
  color :teal;
}
h4{
  color :darkslategrey;
}
h5{
  color : black;
  font-size:200%;
}
img {
  height: 600px;
  width: 1000px;
}
p{
  color :black;
}
